@charset "UTF-8";

html{
  /* 一般的なブラウザのfontsizeは16px
     %指定することでブラウザ側でのサイズ変更にもある程度対応できる
  */
  font-size: 62.5%;
}

body{
  color: #333;
  font-size: 1.2em; /* 親要素からのfont-sizeからの倍率 remはroot要素となる */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after{
  /* paddingやborderも幅高さのサイズ指定に含める */
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
  color: #d03c56;
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo{
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  text-indent: 100%; /* width:100%分のインデント */
  white-space: nowrap; /* テキストを折り返さない */
  overflow: hidden; /* 要素からはみ出したものは表示しない */
}

.logo a{
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav{
  margin-top: 10px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block; /* block要素を横並びに */
  margin: 0 10px;
}

.global-nav .nav-item a{
  display: inline-block; /* a要素の幅高さを指定可能に */
  width: 100px;
  height: 30px;
  line-height: 30px; /* heightと同じ行間にすることで縦位置を中央寄せに */
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px; /* 文字間隔 */
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.sidemenu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

/*
 ::afterは要素の最後に擬似要素を追加する
 回り込んだ子要素は親要素から高さが認識できないので
 回り込みを解除した擬似要素を配置することで高さを認識させる
*/
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

/* メイン要素の確認
.header, .main, .sidemenu, .footer{
  border: 1px solid #aaa;
  background-color: #ccc;
}
.header, .footer{
  height: 100px;
}
.main, .sidemenu{
  height: 500px;
}
*/