@charset "UTF-8";

html{
  /* 一般的なブラウザのfontsizeは16px
     %指定することでブラウザ側でのサイズ変更にもある程度対応できる
  */
  font-size: 62.5%;
}

body{
  color: #333;
  font-size: 1.2em; /* 親要素からのfont-sizeからの倍率 remはroot要素となる */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after{
  /* paddingやborderも幅高さのサイズ指定に含める */
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
  color: #d03c56;
  text-decoration: none;
}

.header {
  width: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.sidemenu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

/*
 ::afterは要素の最後に擬似要素を追加する
 回り込んだ子要素は親要素から高さが認識できないので
 回り込みを解除した擬似要素を配置することで高さを認識させる
*/
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

/* メイン要素の確認
.header, .main, .sidemenu, .footer{
  border: 1px solid #aaa;
  background-color: #ccc;
}
.header, .footer{
  height: 100px;
}
.main, .sidemenu{
  height: 500px;
}
*/